@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@Model.Message</h3>--->

<p>This page will eventually explain the spystore webpage
    <table width="636" border="1">
        <caption>
            Contact Information
        </caption>
        <tr>
            <td>Project Designer</td>
            <td>Stephen Ross</td>
            <td>rosss80@lsus.edu</td>
        </tr>
        <tr>
            <td>Class Instructor</td>
            <td>Ben</td>
            <td>classroom only</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    
    .</p>
